<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Commanigy.Slingshot.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Commanigy.Slingshot.App.Properties.Settings>
      <setting name="FtpHost" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PublicSiteUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="FtpFileName" serializeAs="String">
        <value>{0}</value>
      </setting>
      <setting name="FtpPort" serializeAs="String">
        <value>21</value>
      </setting>
      <setting name="RunOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CopyLinkToClipboard" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShellExtensionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ZipPackage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShortenUrl" serializeAs="String">
        <value>True</value>
      </setting>
    </Commanigy.Slingshot.App.Properties.Settings>
  </userSettings>
</configuration>